params{

    outdir  = "../results"

    gtf = "../data/annotation/gencode.v29.annotation.gtf"
    fasta = "../data/genomes/GRCh38.primary_assembly.genome.fa"

    promoter_length = "100,300,500,1000"
}

process{
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: "copy",
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: "EXTRACT_PROMOTERS"{
          publishDir = [
            [
                path: { "${params.outdir}/promoters/fasta/" },
                mode: "copy", 
                overwrite: true, 
                pattern: "*.fa"
            ],
            [
                path: { "${params.outdir}/promoters/gtf/" },
                mode: "copy", 
                overwrite: true, 
                pattern: "*.gtf"                
            ]
        ]      
    }
}

tower{
    enabled = true
}